* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    background-color: rgb(246, 246, 224);
}

.interface {
    max-width: 740px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Header */

header i {
    color: #000;
    font-size: 2em;
}

header .flex {
    display: flex;
    justify-content: space-between;
}

header .interface {
    height: 110px;
    padding: 40px 1%;
    width: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.403);
}

.logo {
    margin-top: -8%;
}

.carrinho {
    margin-top: -1%;
}

/* Menu */

.menu {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f2f2;
    z-index: 9999;
    transition: max-width .08s ease-in-out;
    max-width: 130%;
}

.menu.hidden {
    max-width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility 65s ease-in-out;

}


.cabecalho-mobile .menu ul li {
    list-style: none;
    font: 500 1.2em 'Poppins', sans-serif;
}


section.close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}

section.close input {
    width: 45%;
    padding: 10px;
    margin-left: 8px;
    background-color: #a74e4e;
    color: rgb(255, 255, 237);
    border: none;
    border-radius: 8px;

}

section.close i {
    margin-left: -10%;
}


section.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.search input {
    width: 90.8%;
    height: 36px;
    border: none;
    border-radius: 3px;
    background-color: #e4e4e4;
    color: #828181;
    font-size: 1.1em;
    font-weight: 549;
}

section.search i {
    position: absolute;
    font-size: 0.99rem;
    margin-left: 75%;
    color: #636363;
}


section.category ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;

}

section.category li {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px -5px 2px -5px rgba(0, 0, 0, 0.195), 0px 5px 2px -5px rgba(0, 0, 0, 0.195);
    ;
    width: 100vw;

}

section.category li i {
    font-size: 1em;
    margin-right: 10px;
}

section.category a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: 10px;
    color: #62274a;
    text-decoration: none;
}


section.footer-menu {
    display: flex;
    justify-content: center;
    height: 30%;
}

.box-footer-menu {
    width: 85%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
}

.box-footer-menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

section.footer-menu li:nth-child(2),
section.footer-menu li:nth-child(4) {
    width: 100%;
    box-shadow: 0px -5px 2px -5px rgba(0, 0, 0, 0.195), 0px 5px 2px -5px rgba(0, 0, 0, 0.195);
    ;
}

/* Main */

main {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column(2);
}



.box-itens {
    width: 170px;
    height: 350px;
    margin-top: 50px;
}

.item-img img {
    width: 170px;
    height: 220px;
    background-color: #000;
    border-radius: 4px;
}

.box-itens p,
h1 {
    font-family: 'Poppins';
    text-indent: 5px;
}

.box-itens h1 {
    font-size: 0.8rem;
    margin-top: 15px;
    font-weight: 650;
}

.box-itens p {
    font-size: 0.7em;
}

.box-itens .item-inf {
    text-indent: 0px;
    margin: 5px;
    line-height: 12px;
    font-size: 0.85em;
    font-weight: 700;
}

div.nextPag {
    overflow: hidden;
    margin: 0px;
}

div.nextPag ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div.nextPag li {
    position: relative;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin: 0px 0.3em;
    cursor: pointer;
    border: 1.2px solid rgba(0, 0, 0, 0.27);
    border-radius: 50%;
}

li.selecionado {
    background: #3d3d3d;
}

#banner1 {
    max-width: 425px;
    width: 100vw;
}

/* Footer */

.footer {
    height: 100vh;
    width: 100vw;

}

.foot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67vh;
    max-height: 240px;
    background-color: #63636375;
    font-family: 'Poppins';
}

.ajuda,
.institucional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ajuda,
.institucional,
.redes,
.pagamento {
    margin: 10px;
}

.redes .ico,
.pagamento .ico {
    display: flex;
    justify-content: space-between;
}

.redes .ico i {
    font-size: 1.3em;
}

.ajudaOpt,
.instOpt {
    width: 100%;
    height: 75px;
    background: #c0c0c0;
}